<h2> <%= @recipe.title %></h2>

<h3>Ingredients</h3>

<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= "#{ingredient.name} X #{ingredient.quantity}" %></li>
<% end %>
<b><%=link_to "New", new_recipe_path  %>
</ul>
